<%- include('../partials/header')%>

<main id="shop" class="container"> <!-- Shop -->
    <aside class="shop__filters filters>
    <!-- Buscar -->
        <form action="/shop/shop" method="GET">
            <div class="filters__search">
                <label class="filters_title" for="search">BUSCAR</label>
                <input type="text" name="search" id="search" placeholder="item o categoría">
                <button class="search-icon" type="submit" aria-label="Buscar">
                    <iconify-icon icon="fa:search"></iconify-icon>
                </button>
            </div>
        </form>

        <div class="filters__order">
            <label class="filters_title" for="orderby">ORDENAR POR</label>
            <!-- js vinculado para esta función -->

            <select name="orderby" id="orderby" onchange="redirectToSelected()">
                 Itera sobre categorías y licencias para mostrar menú desplegable 
                <% const categories=[...new Set(items.map(item=> item.category_name))];
                        categories.forEach(category =>{ %>
                <option value="/shop/filter-category/<%= category%>" <% if
                            (showFirst.toLowerCase()==category.toLowerCase()){ %> selected <% } %>> <%=category%>
                </option>
                <% })%>

                <% const licences=[...new Set(items.map(item=> item.licence_name))];
                licences.forEach(licence =>{ %>
                <option value="/shop/filter-licence/<%=licence%>" <% if
                                    (showFirst.toLowerCase()==licence.toLowerCase()){ %> selected <% } %>>
                    <%=licence%>
                </option>
                <% })%>

            </select>
       
        </div>

        <div class="filters__price">
            <span class="filters_title">PRECIO</span>

            <div>
                <label for="min">MIN</label>
                <input type="number" name="min" id="min" placeholder="0" >
                <label for="max">&nbsp- MAX</label>
                <input type="number" name="max" id="max" placeholder="0" >
            </div>
        </div>
        <div class="filters_checks">
            <span class="filters_title" for="filter">FILTRAR</span>
            <div>
                <input type="checkbox" name="filter" id="news" value="news">
                <label for="news">NUEVOS</label>
            </div>
            <div>
                <input type="checkbox" name="filter" id="offers" value="offers">
                <label for="offers">OFERTAS</label>
            </div>
            <div>
                <input type="checkbox" name="filter" id="specials" value="specials">
                <label for="limited">EDICIÓN ESPECIAL</label>
            </div>
            <div>
                <input type="checkbox" name="filter" id="favs" value="favs">
                <label for="fav">FAVORITOS</label>
            </div>
        </div>
    </aside>

    <section class="shop__content">

        <ul class="shop__items">

            <% const compareFunction=(a, b)=> {
                // función para ordenar los items según los parámetros que vienen desde shopController 
                    if (a[sortBy].toLowerCase() == showFirst.toLowerCase())
                    {
                    return -1;
                    }
                    else if (b[sortBy].toLowerCase() == showFirst.toLowerCase())
                    {
                    return 1;
                    } else {
                    return 0;
                    }
                    };
                    // usamos nuestra función en el método sort
                    const sortedItems = items.sort(compareFunction);
npm run dev

                    // luego iteramos sobre el array reordenado para mostrar los items
                    sortedItems.forEach( item => {
                    %>

            <li class="shop__item">
                <article class="card-item">
                    <a class="card-item__link" href="/shop/item/<%= item.product_id%>">
                        <picture class="card-item__cover">

                            <% if(item.product_id> 13){%>
                            <span class="card-item__tag">NUEVO</span>
                            <% }%>

                            <img class="card-item__img--front" src="<%= item.img_front%>" alt="">
                            <img class="card-item__img--back" src="<%= item.img_back%>" alt="">
                        </picture>
                        <div class="card-item__content">
                            <p class="card-item__licence">
                                <%= item.licence_name%>
                            </p>
                            <h4 class="card-item__name">
                                <%= item.product_name%>
                            </h4>
                            <p class="card-item__price">
                                $ <%= item.product_price%>
                            </p>
                            <p class="card-item__promo">
                                <%= item.dues%> CUOTAS SIN INTERÉS
                            </p>
                        </div>
                    </a>
                </article>
            </li>
            <% }); %>

        </ul>


        <div class="shop__page-buttons">
            <div class="shop__page-button"> <iconify-icon icon="tabler:chevron-left"></iconify-icon> </div>
            <div class="shop__page-button">1</div>
            <div class="shop__page-button">2</div>
            <div class="shop__page-button">3</div>
            <div class="shop__page-button">4</div>
            <div class="shop__page-button">5</div>
            <div class="shop__page-button"> <iconify-icon icon="tabler:chevron-right"></iconify-icon> </div>
        </div>
    </section>

</main>

<script src="/js/shop.js"></script>

<%- include('../partials/footer')%>